.loading-animation {
	place-self: center;
	background: linear-gradient(80deg, rgb(172, 0, 94), rgb(255, 0, 106), rgb(168, 0, 70)) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while;
	 * but it catches the latest browser versions supported 
	 * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 200 clamp(2em, 5vw, 5em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

/* avoid problems in high contrast mode */
@media (forced-colors: active) {
  p {
    background: #ffffff;
    color: rgb(255, 82, 140)
  }
}